body {
    background-color: rgb(186, 192, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150px;
    font-weight: 800;
}

p {
    margin-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: rgb(30, 28, 28);
}