* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

body {
    background-color: #248A64;
    height: 80vh;
    width: 100vw;
}

.card {
    height: 100%;
    width: 90%;
    background-color: whitesmoke;
    border: solid black 1px;
    border-radius:  10px;
}


#parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr) 25px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 100vh;
    width: 100vw;
}
    
#dealer-info { grid-area: 2 / 3 / 3 / 4; }
#dealer-1 { grid-area: 2 / 4 / 4 / 5; }
#dealer-2 { grid-area: 2 / 5 / 4 / 6; }
#dealer-3 { grid-area: 2 / 6 / 4 / 7; }
#dealer-4 { grid-area: 2 / 7 / 4 / 8; }
#dealer-5 { grid-area: 2 / 8 / 4 / 9; }
#dealer-6 { grid-area: 2 / 9 / 4 / 10; }


#output { 
    display: flex;
    flex-direction: column;
    grid-area: 4 / 5 / span 1/ span 2; 
    /* border: solid 1px red; */
    text-align: center;
    justify-content: center;
    
}
#player-info { 
    grid-area: 5 / 3 / 6 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-1 { grid-area: 5 / 4 / 7 / 5; }
#player-2 { grid-area: 5 / 5 / 7 / 6; }
#player-3 { grid-area: 5 / 6 / 7 / 7; }
#player-4 { grid-area: 5 / 7 / 7 / 8; }
#player-5 { grid-area: 5 / 8 / 7 / 9; }
#player-6 { grid-area: 5 / 9 / 7 / 10; }

#stay { grid-area: 8 / 5 / 9 / 6; }
#hit { grid-area: 8 / 6 / 9 / 7; }
#double { grid-area: 8 / 7 / 9 / 8; }
#wallet { 
    grid-area: 8 / 10 / 9 / 12; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
}

button {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

#prompt {
    grid-area: 7 / 2 / span 1 / span 2;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    justify-content: center;
    color: azure;
}

#bet {
    grid-area: 8 / 2 / span 1 / span 2;
    /* margin-right: 100px; */
    /* border: solid 2px red; */
    border-radius: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
}

#bet input {
    width: 100px;
    height: 65%;
    border-radius: 10px;
}

#bet button {
    background-color: rgb(51, 98, 186);
    color: azure;
    height: 70%;
    border-radius: 10px;
}

#chips {
    grid-area: 4 / 2 / span 1/ span 1;
    width: 100px;
    border: dashed 7px salmon;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}